<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='powder.ico') }}">
    <style>
        .has-error input[type="text"], .has-error input[type="number"], .has-error select {
            border: 1px solid #a94442;
        }
        .help-block {
            color: #a94442;
            font-size: 0.7rem;
        }

    </style>

    <title>Carr's Flowability Index</title>


  </head>
  <body>
    <div class="container" style="min-height:100% width:80%">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block body %}{% endblock %}
    </div>

    <div class="offset-md-1">
        <div>
            <h1>Carr's Flowability Index
            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" 
               title="The flowability index is determined from an empirical formula based on the behavior of >280 dry materials (Carr, 1965)"></i>
            </h1>     
        </div>

        <form method="POST" action="" role="form" data-toggle="validator" novalidate="true">
        <div class="form-group row">
                <label for="Name" class="col-sm-3 col-form-label">Material name</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="MaterialName" placeholder="Material Name" value="{{request.form.MaterialName}}" 
                           required="required" data-error="Please enter a material name">
                    <div class="help-block with-errors"></div>
                </div>
        </div> 

        <div class="form-group row">
            <label for="AngleofRepose" class="col-sm-3 col-form-label">Angle of Repose
                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" 
                    title="Pour a powder from some elevation onto a flat plate and measure the angle that the powder slope makes with repect to the horizontal."></i>
            </label>
            <div class="col-sm-2">
                <input type="number" min="25" max="90" step="any" class="form-control" name="AngleofRepose" placeholder="0" value="{{request.form.AngleofRepose}}" 
                       required="required" data-error="Please enter a valid Angle of Repose value (25-90 degree)">
                <div class="help-block with-errors"></div>
            </div>
        </div> 
        
        <div class="form-group row">
            <label for="Compressibility" class="col-sm-3 col-form-label">Compressibility
                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" 
                    title="Compressibility is the relative change in bulk density of a powder that is 'tapped' and 'aerated'."></i>
            </label>
            <div class="col-sm-2">
                <input type="number" min="5" step="any" class="form-control" name="Compressibility" placeholder="0" value="{{request.form.Compressibility}}"
                       required="required" data-error="Please enter a valid Compressibility value (> 5%)">
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group row">
                <label for="AngleofSpatula" class="col-sm-3 col-form-label">Angle of Spatula 
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" 
                        title="The angle of repose for a powder that has been formed by lifting a spatula out of a bed of powder."></i>
                </label>
                <div class="col-sm-2">
                    <input type="number" min="25" step="any" class="form-control" name="AngleofSpatula" placeholder="0" value="{{request.form.AngleofSpatula}}"
                           required="required" data-error="Please enter a valid Angle of Spatula value (> 25 degree)">
                    <div class="help-block with-errors"></div>
                </div>
        </div>

        <h5>For coarse granular material:</h5>
        <div class="form-group row">
                <label for="UniformityCoeff" class="col-sm-3 col-form-label">
                    Uniformity Coefficient 
                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" 
                       title="Uniformity is defined as the ratio of the width of sieve opening that passes 60% of the material (by mass) to the width of sieve opening that passes 10% of the material."></i>
                    <br>(For fine powder, enter 0)
                    </label>
                <div class="col-sm-2">
                    <input type="number" min="0" step="any" class="form-control" name="UniformityCoeff" placeholder="0" value="{{request.form.UniformityCoeff}}"
                           required="required" data-error="Please enter a valid Uniformity Coefficient value (>= 0)">
                    <div class="help-block with-errors"></div>
                </div>
        </div>

        <h5>For fine powder material:</h5>
        <div class="form-group row">
                <label for="Cohesion" class="col-sm-3 col-form-label">Cohesion 
                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" 
                       title="Cohesion is acquired by measuring the mass of powder retained on three vibrating, stacked screens."></i>
                    <br>(For coarse granular, enter 0)
                </label>
                <div class="col-sm-2">
                    <input type="number" min="0" step="any" class="form-control" name="Cohesion" placeholder="0" value="{{request.form.Cohesion}}"
                           required="required" data-error="Please enter a valid Cohesion value (>= 0 %)">
                    <div class="help-block with-errors">
                </div>
        </div>

        <div class="form-group"> 
            <input class="btn btn-primary" type="Submit" name="btn" value="Submit">
            <!-- <button id="add-material" class="btn btn-primary" type="submit" name="add-material" value="add-material">Submit</button> -->
        </div>
        </form>
    </div>
    <br>
    <form method="POST" id="PlotMaterials"></form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Material Name</th>
                <th scope="col">Angle of Repose</th>
                <th scope="col">Compressibility</th>
                <th scope="col">Angle of Spatula</th>
                <th scope="col">Uniformity Coefficient</th>
                <th scope="col">Cohesion</th>
                <th scope="col">Flowability Points</th>
                <th scope="col">Flowability</th>
                <th scope="col">Delete Material</th>
            </tr>
        </thead>
        <tbody>
            {% for material in all_materials %}
            <form method="POST" id="{{ material[0] }}"></form>
            <tr>
                <td><input form="PlotMaterials" type="checkbox" name="checkbox" value="{{ material[0] }}">  {{ material[0] }}
                </td>
                <td>{{ material[1] }}</td>
                <td>{{ material[2] }}</td>
                <td>{{ material[3] }}</td>
                <td>{{ material[4] }}</td>
                <td>{{ material[5] }}</td>
                <td>{{ material[6] }}</td>
                <td>{{ material[7] }}</td>
                <td><input form="{{ material[0] }}" class="btn btn-primary" type="submit" name="btn" value="Delete {{ material[0] }}"></td>
                <!-- <td><input form="{{ material[0] }}" class="btn btn-primary" type="submit" name="btn" value="Plot {{ material[0] }}"></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input form="PlotMaterials" class="btn btn-primary" type="submit" name="btn" value="Plot Materials">

    <div id="chart" class="chart"></div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Validator.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <script type="text/javascript">
         
        var graphs = {{ graphJSON | safe }};
        
        Plotly.plot('chart',graphs['data'], graphs['layout']);        
    </script>
  <a href="{{ url_for('download_csv') }}" class="btn btn-primary">Download Results</a>
  </body>
</html>